# Packages/installer info
build
dist
pyoof.egg-info/

# Documentation
docs/_build
docs/api

# Compiled files
__pycache__
.eggs

# Mac OSX
.DS_Store

# Notebooks
.ipynb_checkpoints
notebooks/fft_resolution_test.ipynb
examples/
notebooks/pyoof_out

# Not importat examples
examples/config_gen.py
examples/generate_data.py
examples/poly_fit.py
examples/residual_nikolic.py
