# Packages/installer info
build
dist
pyoof.egg-info/

# docs
docs/_build
docs/api

# Compiled files
__pycache__
.eggs

# Mac OSX
.DS_Store

# Notebooks
.ipynb_checkpoints
notebooks/fft_resolution_test.ipynb
examples/
notebooks/pyoof_out

# Not importat scripts
scripts/config_gen.py
scripts/generate_data.py
scripts/poly_fit.py
scripts/residual_nikolic.py


